.post-gallery-list .h-line-secondary {
  margin-top: $margin-m-1;
}
.post-gallery-list .h-line-secondary:last-child {
  display: none;
}
.post-gallery-item {
  display: flex;
  margin-top: $margin-primary;
  margin-bottom: $margin-m-1;
}
.post-gallery-item .post-info {
  margin-right: $margin-l-0;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.post-gallery-item .post-info .post-title {
  margin-bottom: $margin-m-1;
}
.post-gallery-item .post-img {
  width: 50%;
}
@media (max-width: 480px) {
  .post-gallery-item {
    flex-wrap: wrap;
  }
  .post-gallery-item .post-info {
    width: 100%;
  }
  .post-gallery-item .post-img {
    width: 100%;
    margin-top: $margin-m-1;
  }
}
.category-list {
  margin-top: $margin-primary;
}
.category-list h2 {
  margin-bottom: $margin-l-0;
  text-align: center;
  font-size: 18px;
}
.category-list .category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $margin-m-1 0;
  border-bottom: 1px solid var(--border-color);
}
.category-list .category-item:last-child {
  border-bottom: none;
}
.category-list .category-item h3 {
  margin: 0;
  font-size: 14px;
}
.category-list .category-item h3 a {
  color: var(--text-color);
}
.category-list .category-item .post-count {
  color: var(--text-secondary);
  font-size: 12px;
}
